.mainpage{
    display: flex;
    flex-direction: column;
}

.card{
    position: static;
    width: 70%;
    margin: 5% 15%;
    background-color: #d1c4e9;
    box-shadow: 4px 4px 2px 1px rgba(204, 204, 204, .4  );
    border-radius: 15px;
    padding: 1%;
}

.desc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1%;

}

.desc img{
    float: left;
}

.desc p{
    padding: 1%;
    border-radius: 15px;
    height: fit-content;
    background-color: rgba(255, 255, 255, .4);
}

.contacts{
    margin: 1% 0 0 0;
    display: flex;
    gap: 1%;
}

h2{
    font-weight: 400;
}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #111;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.prev{
    left: 8.5%;
}

.next {
  right: 8.5%;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #fff;
  font-size: 20px;
  font-weight: 1000;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.container{
    margin: 0 1%;
}

.dot {
  margin-right: 20px;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.carouselh2{
    width: 100%;
    text-align: center;
}

.faq-content {
  margin: 0 auto;
}

.faq-question {
  padding: 20px 0;
  border-bottom: 1px dotted #d1c4e9;
}

.panel-title {
  font-size: 24px;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 10px 10px 0 48px;
  display: block;
  cursor: pointer;
}

.panel-content {
  font-size: 20px;
  padding: 0px 14px;
  margin: 0 40px;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

.panel:checked ~ .panel-content{
  height: auto;
  opacity: 1;
  padding: 14px;
}

.plus {
  color:#d1c4e9;
  position: absolute;
  margin-left: 20px;
  margin-top: 4px;
  z-index: 5;
  font-size: 42px;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.panel:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.panel {
  display: none;
}

.faq-content{
    width: 80%;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 2%;
}

.faq-question{
    text-align: center;
    border: 1px solid #000;
    height: fit-content;
}

.menu{
    text-align: center;
    margin-bottom: 1%;
}