.mainpage{
    display: flex;
    flex-direction: column;
    gap: 100px;
    text: lighter;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
}

.Add{
font-family: Georgia;
font-weight: lighter;
font-size: 26px;
text-align: center;
}

.container-2{
    display: grid;
    flex-direction: grid;
    grid-template-columns: 450px 450px;
    width: 100%;
    grid-template-rows: 300px 300px 300px 300px;
    border: none;
}

.sidebar{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: 1%;
}

.sidebar p{
    font-size: 25px;
    font-family: Georgia;
    line-height: 150%;
}

.sidebar li{
    font-size: 18px;
    font-family: Georgia;
    line-height: 150%;
}

.sidebar button{
    border: none;
    outline: none;
    padding: 0;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.sidebar ul{
    margin-left: 10%;
    list-style-type: none;
}

.list{
    width: 100%;
    align-items:stretch;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.panel{
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 15px;
    padding: 3%;
    width: 100%;
    height: fit-content;
    background-color: #d1c4e9;
    margin-bottom: 2%;
}

.part{
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1%;
}

.part h1{
    font-size: 20px;
    margin: 1%;
    font-family: Georgia;
    line-height: 150%;
}

.part span{
    font-family: Georgia;
    line-height: 150%;
}

.panel h2{
    font-family: Georgia;
    line-height: 150%;
}

.view{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.view a{
    text-decoration: none;
    color: #000;
    padding: 1%;
    background-color: #e1bee7;
    border-style: none;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .3);
    cursor: pointer;
}

.shop-info-button{
    margin-top: 17px;
    background-color: #d1c4e9;
    border-style: none;
    font-family: Georgia;
    font-size: 16px;
    border-radius: 10px;
    width: 125px;
    height: 50px;
    text-align: center;
    font-weight: lighter;
    transition: 0.3s;
    background-color: #8f3ba8;

}
.shop-info-button:hover{

 opacity:75%;
}
.shop-info-name{
    font-size: 20px;
    font-weight: lighter;
}
.shop-info{
    font-weight: lighter;
    padding:15px;
    gap:5px;

}
.panel{
width: 400px;
height: 250px;
text-align:left;
font-weight: lighter;
margin-left:80px;
margin-top:20px;
transition: 0.3s ease;
}
.panel:hover{
border-style: solid;
border-color: #8f3ba8;
border-width: 1px;
}
