<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static\base.css">
  <link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Document</title>
</head>
{% block navbar %}
<body>


<nav>
    <div class="wrapper">
      <div class="logo"><a href="/"><img src="" alt=""></a></div>
          <div class="searchfield" id="wrap" style="width: 25%; position: fixed; height: 4vh; background-color: #fff; border-radius: 10px;">
        <div class="search" style="width: 100%; height: 4vh border-radius: 10px;">
          <input type="text" name="search" id="search" placeholder="Поиск" class="searchterm" style="width: 25%; z-index: 999; cursor: text; position: fixed; height: 4vh; background-color: #fff; display: flex; border-style: none;
padding: 5px; border-radius: 10px; text-align: start;">
          <button class="searchbutton" type="submit" style="display: block; position: fixed; left: 24%; top:2.5vh; background-color: #fff; border-style: none; cursor: pointer; width: 2%; height: 2%; z-index: 1000;">
              <i class="fa fa-search"></i>
          </button>
        </div>
    </div>
      <input type="radio" name="slider" id="menu-btn" class="nothing">
      <input type="radio" name="slider" id="close-btn" class="nothing">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <li><a href="/map">Карта</a></li>
        <li>
          <a href="/choice" class="desktop-item">Выбор</a>
        </li>
        <li><a href="/faq">FAQ</a></li>

        <li><a href="/notifications">Про нас</a></li>
      </ul>
      <ul class="nav-links">
      <li><div class="Log"><a href="/login">Вход</a></div></li>
      </ul>

      <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>

  <div class="sec-center">
    <input class="dropdown" type="checkbox" id="dropdown" name="dropdown"/>
    <label class="for-dropdown" for="dropdown">Меню<i class="uil uil-arrow-down"></i></label>
    <div class="section-dropdown">
      <a href="main">Карта <i class="uil uil-arrow-right"></i></a>
      <a href="meets-subj1">Выбор <i class="uil uil-arrow-right"></i></a>
      <a href="new">FAQ <i class="uil uil-arrow-right"></i></a>
      <input class="dropdown-sub2" type="checkbox" id="dropdown-sub2" name="dropdown-sub2"/>
      <a href="subjects">Про нас<i class="uil uil-arrow-right"></i></a>
      <a href="index">Вход</a>
    </div>
  </div>

</body>
{% endblock navbar %}
</html>